
.gp_hdr {
    border: 2px solid #7BAEB7;
    text-align: center;
    color: #7BAEB7;
    background-color: #324B4F;
    border-radius: 5px; 
    padding: 0.25em;
    margin:1em;
    opacity: 0.8;
}

.gp_cont {
    z-index: 0;
    background-color: transparent;
    border-radius: 5px;
    padding:.5em;
}

.gp_frm_tmr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #2a2a2b;
    border-radius: 5px;
    opacity: 0.8;
    margin-left: 20%;
    margin-right: 20%;
}

.gp_tmr {
    opacity: 0.9;
    padding: .2em;
}

.gp_chrt {
    opacity: 0.9;
}

.gp_frm {
    opacity: 0.9;
}