.hp {
    color:#7BAEB7;
}

.hp_hdr {
    border: 2px solid #7BAEB7;
    text-align: center;
    color: #7BAEB7;
    background-color: #324B4F;
    border-radius: 5px; 
    padding: 0.25em;
    margin:1em;
    opacity: 0.8; 
}

.hp_content {
    background: #2a2a2b;
    border-radius: 5px;
    opacity: 0.8;
    margin-left:25%;
    margin-right:25%;
    padding: 2em;
}

.hp_h2 {
    padding: .5em;
}

.hp_p {
    padding: 1em;
}

.hp_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    align-content: flex-end;
}

.hp_nav_hdr {
    padding: .5em;
}

.hp_nav_b {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    padding : .25em;
}

.hp_nav_b_log {
    margin-right: 1em;
}