@import url(https://code.highcharts.com/7.0.0/css/themes/dark-unica.css);

/* .highcharts-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    z-index: 0;
    font-family: 'Unica One', sans-serif;
    font-size: 12px;
}

.highcharts-background {
    fill: #707070;
}

.highcharts-axis-line {
    fill: none;
    stroke: #C0D0E0;
}

.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 0;
}

.highcharts-title {
    fill: #E0E0E3;
    text-transform: uppercase;
    font-size: 20px;
}

.highcharts-subtitle {
    fill: #E0E0E3;
    text-transform: uppercase;
} */

