@import url(https://code.highcharts.com/7.0.0/css/themes/dark-unica.css);

.custom-chart {
    margin:5em;
}

.b_col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background: #2a2a2b;
}