

.counter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #7BAEB7;
    background-color: #324B4F;
    border-radius: 5px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.25rem;
    color: #324B4F;
    background: transparent;
}

.react-datetime-picker__wrapper {
    background-color: #324B4F;
    margin-bottom: 1em;
    border:none;
}

.react-datetime-picker__inputGroup {
    color: #7BAEB7;
}

.react-datetime-picker__inputGroup__input {
    color: #7BAEB7;
}

.react-datetime-picker__button__icon {
    color: #7BAEB7; 
} 

.counter-label {
    border:none;
}

.counter-day-label {
    color: #7BAEB7; 
}

.counter-hour-label {
    color: #7BAEB7; 
}

.counter-minute-label {
    color: #7BAEB7; 
}

.counter-second-label {
    color: #7BAEB7; 
}