@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: url('https://images.unsplash.com/photo-1564510714747-69c3bc1fab41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.25rem;
    color: #324B4F;
    background: transparent;
}

button {
  background-color: #324B4F;
  border: 2px solid #7BAEB7;
  color: #7BAEB7;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: #324B4F;
  background-color: #7BAEB7;
}

/* Footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
} */